/**
 * Plugin Name: View Admin As
 * Description: View the WordPress admin as a specific role, switch between users and non-destructively change your capabilities.
 * Plugin URI:  https://wordpress.org/plugins/view-admin-as/
 * Version:     1.4
 * Author:      Jory Hogeveen
 * Author URI:  http://www.keraweb.nl
 * Text Domain: view-admin-as
 * Domain Path: /languages/
 * License: 	GPLv2
 */

#vaa-loading {position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: rgba(255,255,255,0.85); display: none; z-index: 999999999;}
#vaa-loading .vaa-loader-icon {position: fixed; width: 40px; height: 40px; top: 50%; left: 50%; margin: -20px 0 0 -20px; display: block; }

#vaa-loading.inner {position: absolute;}
#vaa-loading.inner .vaa-loader-icon {position: absolute;}
/*
#vaa-loading.error {background-color: rgba(220, 50, 50, 0.85);}
#vaa-loading.success {background-color: rgba(70, 180, 80, 0.85);}
*/

#wpadminbar .vaa-update.vaa-error {display:inline-block;color:#dc3232;background:#fff;padding:0 10px;}
#wpadminbar .vaa-update.vaa-error .ab-icon:before {color:#dc3232;}
#wpadminbar .vaa-update.vaa-success {display:inline-block;color:#46b450;background:#fff;padding:0 10px;}
#wpadminbar .vaa-update.vaa-success .ab-icon:before {color:#46b450;}

#wpadminbar #wp-admin-bar-view-as.menupop ul.ab-sub-secondary {position: static;}
#wpadminbar #wp-admin-bar-view-as.menupop .menupop > .ab-item:before {top: 1px;}

#wpadminbar #wp-admin-bar-view-as.menupop .ab-sub-title .ab-item.ab-empty-item {font-weight: bold; line-height: 26px; font-size: 1.1em; text-transform: uppercase;}
#wpadminbar #wp-admin-bar-view-as .current > .ab-item,
#wpadminbar #wp-admin-bar-view-as .current-parent > .ab-item {font-weight: bold;}
#wpadminbar #wp-admin-bar-view-as .current > .ab-item::after {content: '\f177'; font-family: 'dashicons'; margin: 0 5px; font-size: 1.3em; vertical-align: middle; font-weight: normal;}

#wpadminbar #wp-admin-bar-view-as .ab-bold > .ab-item,
#wpadminbar #wp-admin-bar-view-as .ab-bold > .ab-item * {font-weight: bold !important;}
#wpadminbar #wp-admin-bar-view-as .ab-italic > .ab-item,
#wpadminbar #wp-admin-bar-view-as .ab-italic > .ab-item * {font-style: italic !important;}

#wpadminbar #wp-admin-bar-view-as .vaa-sub-transparent > * {opacity: 0.5; transition: opacity 0.2s;}
#wpadminbar #wp-admin-bar-view-as .vaa-sub-transparent:hover > * {opacity: 1;}

#wpadminbar #wp-admin-bar-view-as .ab-item .user-role,
#wpadminbar #wp-admin-bar-view-as .ab-item .user-count {font-style: italic; line-height: 26px; font-weight: normal;}

#wpadminbar #wp-admin-bar-view-as .ab-vaa-multipleselect .ab-item,
#wpadminbar #wp-admin-bar-view-as .ab-vaa-search .ab-item,
#wpadminbar #wp-admin-bar-view-as .ab-vaa-filter .ab-item,
#wpadminbar #wp-admin-bar-view-as .ab-vaa-select .ab-item {height: auto;}
#wpadminbar #wp-admin-bar-view-as .ab-vaa-search .ab-item input,
#wpadminbar #wp-admin-bar-view-as .ab-vaa-filter .ab-item input,
#wpadminbar #wp-admin-bar-view-as .ab-vaa-select .ab-item select {padding: 3px; border: 0; line-height: normal; height: auto; margin: 5px 0; width: 100%; box-sizing: border-box;}
#wpadminbar #wp-admin-bar-view-as .ab-vaa-select .ab-item select {padding: 2px 3px;}

/*#wpadminbar #wp-admin-bar-view-as .ab-vaa-select .ab-item select {border: 0; margin-top: 6px;}*/

#wpadminbar #wp-admin-bar-view-as .ab-vaa-multipleselect .ab-empty-item {height: auto; overflow: hidden;}
#wpadminbar #wp-admin-bar-view-as .ab-vaa-multipleselect.max-height .ab-empty-item {max-height: 100px; overflow-y: scroll; background: #fff; margin: 0 10px 5px; padding: 5px 10px;}
#wpadminbar #wp-admin-bar-view-as .ab-vaa-multipleselect.max-height .ab-empty-item .ab-item {color: #333;}
#wpadminbar #wp-admin-bar-view-as .ab-vaa-multipleselect.auto-height .ab-empty-item {max-height: none; margin: 0;}

#wpadminbar #wp-admin-bar-view-as ul li.vaa-column-one-half {width: 50%; display: block; float: left; clear: none;}
#wpadminbar #wp-admin-bar-view-as ul li.vaa-column-one-half .ab-item {min-width: 0;}
#wpadminbar #wp-admin-bar-view-as ul li.vaa-column-one-half.vaa-column-first .ab-item {padding-right: 1px;}
#wpadminbar #wp-admin-bar-view-as ul li.vaa-column-one-half.vaa-column-last .ab-item {padding-left: 1px;}
#wpadminbar #wp-admin-bar-view-as ul li.vaa-clear-float {clear: both;}

#wpadminbar #wp-admin-bar-view-as .ab-vaa-search #vaa-searchuser-results {margin: 0; padding: 0;}

#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps #wp-admin-bar-caps-quickselect-options {max-height: 400px; min-width: 250px; overflow: hidden; overflow-y: auto; margin: 5px 0; padding: 0; border: 0 solid transparent; border-width: 0 10px 0 0;}
#wpadminbar #wp-admin-bar-view-as .ab-item input.checkbox {height: 16px; width: 16px; margin: 0 5px; vertical-align: text-bottom;}
#wpadminbar #wp-admin-bar-view-as .ab-item input.checkbox + label,
#wpadminbar #wp-admin-bar-view-as .ab-item input.checkbox + label * {line-height: 18px; vertical-align: text-top;}
#wpadminbar #wp-admin-bar-view-as .ab-item input.checkbox:first-child {margin: 0 5px 0 0;}

#wpadminbar #wp-admin-bar-view-as .vaa-button-container > .ab-item {overflow: hidden; height: auto;}
#wpadminbar #wp-admin-bar-view-as button {text-decoration: none; font-size: 13px; line-height: 20px; height: 20px; margin: 3px 0; padding: 0 10px 1px; vertical-align: middle;}
#wpadminbar #wp-admin-bar-view-as .vaa-icon {padding: 0 2px 1px;}
#wpadminbar #wp-admin-bar-view-as .vaa-icon .ab-icon {margin: 0;}
#wpadminbar #wp-admin-bar-view-as button.vaa-icon .ab-icon {padding: 0;}
#wpadminbar #wp-admin-bar-view-as button#reset-view {margin: 0 0 5px;}
#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps #apply-caps-view {float: left; margin-right: 5px;}
#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps #reset-caps-view,
#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps #open-caps-popup,
#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps #close-caps-popup {float: right; margin-left: 5px;}
#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps #close-caps-popup {display: none;}
/*#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps #wp-admin-bar-filtercaps {clear: both;}*/

#wpadminbar #wp-admin-bar-view-as.fullPopupActive .ab-sub-wrapper,
#wpadminbar #wp-admin-bar-view-as.fullPopupActive .ab-sub-wrapper .ab-item {display: none;}
#wpadminbar #wp-admin-bar-view-as.fullPopupActive > .ab-sub-wrapper {display: block;}
#wpadminbar #wp-admin-bar-view-as.fullPopupActive > .ab-sub-wrapper > .ab-submenu {padding: 0;}
#wpadminbar #wp-admin-bar-view-as.fullPopupActive .ab-sub-wrapper.fullPopup {position: fixed; display: block; visibility: visible; overflow: hidden; z-index: 999; max-height: 90%; width: 90%; margin: 5%; top: 0; left: 0; box-shadow: 0 0 50px rgba(0,0,0,0.3);}
#wpadminbar #wp-admin-bar-view-as.fullPopupActive .ab-sub-wrapper.fullPopup .ab-item {display: block;}
#wpadminbar #wp-admin-bar-view-as.fullPopupActive #wp-admin-bar-caps .ab-sub-wrapper.fullPopup #close-caps-popup {display: block;}
#wpadminbar #wp-admin-bar-view-as.fullPopupActive #wp-admin-bar-caps .ab-sub-wrapper.fullPopup #open-caps-popup {display: none;}
#wpadminbar #wp-admin-bar-view-as.fullPopupActive #wp-admin-bar-caps .ab-sub-wrapper.fullPopup #wp-admin-bar-caps-quickselect-options .vaa-cap-item {width: 250px; float: left;}

#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-caps-popup:hover {cursor: pointer;}

/**
 * Module: Role Defaults
 */
#wpadminbar #wp-admin-bar-view-as #wp-admin-bar-role-defaults > .ab-item::before {content: '\f107'; font-family: 'dashicons'; margin: 0; font-size: 1.3em; vertical-align: middle; font-weight: normal;}
